<div class="filter_wrapper">
    <div class="container">
        <div id="filter_bar">
            <div class="search">
                <div class="input_group">
                    <form id="search-form">
                        <input type="text" name="search" required=true placeholder=" ">
                        <label htmlfor="search">search</label>
                    </form>

                </div>
            </div>

            <div class="filter">
                <div class="filter_label">
                    <p>Filter by type: </p>
                </div>
                <div class="filter_items">
                    <p onclick="filter('story')">Story</p>
                    <p onclick="filter('job')">Job</p>
                    <p onclick="filter('reset')">Reset</p>
                </div>
            </div>
        </div>
    </div>
</div>
