{% if post.text %}
<div class="post_body">
    {{post.text}}
</div>
{% else %}
<div class="post_body">
    <h3>Some Placeholder text</h3>
    Esse, odio, consectetur assumenda dicta at quia voluptatibus id odit eaque cupiditate deserunt officia maxime
    laudantium. Eius saepe unde quia ex laudantium ut suscipit, rerum autem eum, fugit eaque modi!
    Doloremque expedita harum aspernatur officiis distinctio quasi deleniti culpa delectus, id, inventore dolore
    quaerat! Sit animi nisi aperiam aspernatur assumenda quae minima tempora facere ratione inventore, ipsum
    consequuntur. Veniam, autem!
    Voluptates earum veritatis voluptatem. Pariatur magni maxime culpa aspernatur voluptatum ipsum.
    Necessitatibus a expedita omnis incidunt natus temporibus inventore perspiciatis voluptates ipsa provident, placeat
    libero excepturi quasi aut quam recusandae suscipit id? Adipisci sint obcaecati commodi odit modi quisquam
    aspernatur repellat.
    Nemo quisquam dolores nisi porro quis totam magni velit beatae, fugiat, esse sapiente commodi quam neque odio
    corporis cumque facere fugit ab sunt? Eum maxime rerum tempore numquam autem nesciunt.
    Perferendis quis labore sit fugiat quasi tempore esse, numquam ducimus deserunt recusandae et praesentium quas optio
    necessitatibus beatae consequuntur, alias excepturi blanditiis! Provident dolore quas dicta error quasi quos qui.
    Rem natus repudiandae unde dolores odit temporibus reiciendis velit nam incidunt quaerat. Expedita ad doloribus unde
    tenetur doloremque, voluptas aut ex atque natus modi veritatis nulla, voluptate accusantium ea beatae?
    Nemo quidem, officia necessitatibus pariatur rem dolor eius totam odit, nisi est autem nostrum aliquid vero cumque
    facere dicta hic, deleniti excepturi alias sapiente. Ea accusamus ex itaque exercitationem earum!
    Provident molestias tenetur laudantium corrupti quam similique vitae suscipit sapiente eaque! Est, aspernatur
    accusantium deleniti magni perferendis sequi laborum veniam eveniet animi nostrum ducimus nihil. Voluptatem quidem
    reprehenderit harum tenetur!
    Rem ut consequuntur distinctio et, ipsa maiores explicabo similique quaerat aliquam reiciendis ipsum sint repellat.
    Sequi ex quo officia autem provident officiis numquam consectetur dolores magnam et. Ipsam, repellat doloremque.
    Sit pariatur incidunt dolorum at voluptatibus animi dolore voluptates, deserunt sequi doloremque nulla autem id nisi
    corrupti cumque odio vero amet iusto voluptatem nemo nam aperiam delectus ipsa. Laborum, fugiat!
    Eius facere repellat inventore ad ipsum. Unde amet necessitatibus veniam itaque pariatur, sapiente dolorum quas,
    aliquid sunt consectetur aut deserunt magnam cupiditate fugit voluptatum illo recusandae quidem. Ducimus, possimus
    voluptate?
</div>
{% endif %}